/*
 * Specific styles of management component
 */
/*
 * General styles
 */
body, html {
    height: 100%;
    margin: 0px;
    padding-top: 20px;   
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}
th{
    background-color: rgb(104, 145, 162);   
}

.modal{
    top: 100px;
    background-color: #EBE9E8;
}

p {
    text-align: center;
} 
.table-characters{
    overflow:scroll;
    height: 300px;
    border: 1px solid #000; 
    border-radius: 10px;
}

.table{
    text-align: left;
}

.card-container.card {
    max-width: 550px;
    padding: 10px 40px;
    margin-top: 0px;
    border-radius: 10px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.form-management #title{
    direction: ltr;
    height: 20px;
    font-size: 16px;
}

.form-management #content{
     direction: ltr;
    height: 50px;
    font-size: 16px;
}

.btns-modal{
    display: flex;
}

.btn-close, .btn-update, .btn-delete {
    margin: 10px;
    border-radius: 5px;
}
.btn-close{
    background-color:#058AD6;  
}

.btn-close.btnsmaganement:hover{
    background-color: #84C1E5;
}

.btn-update{
    background-color:#D0D605;
}

.btn-update.btnsmaganement:hover{
    background-color: #F7FC9B;
}

.btn-delete{
    background-color: #F16F64;
}

.btn-delete.btnsmaganement:hover{
    background-color:#F60C0C;
}

.form-management input[type=search],
.form-management input[type=text],
.form-management input[type=date],
.form-management button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: static;
}

.form-management .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-management {
    position: static;
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    width: 120px;
    margin: 0px auto;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn.btn-management:hover {
    background-color: rgb(12, 97, 33);
}
