    .menuCSS3 ul {
        display: flex;
        padding: 0px;
        width: 360px;
        margin: 0px auto;
        margin-bottom: 30px;
        list-style: none;
        border-style: outset;
    }
    .menuCSS3 a {
        display: block;
        padding: 10px;
        background-color: #F7F7F7;
        text-decoration: none;
        color: #191C26;
    }
    .menuCSS3 a:hover {
        background-color: #CC673B;
    }
